[package]
name = "pixy_terrain"
version = "0.0.1"
edition = "2021"
rust-version = "1.78"

[lib]
crate-type = ["cdylib"]

[dependencies]
godot = { git = "https://github.com/godot-rust/gdext", branch = "master" }

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
